highbar {
    position:fixed;
    width:100%;
    height:50px;
    background-color: rgb(250, 248, 246);
    margin-top: 0px;
}
.barrehautgauche{
    display :flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.barrehautdroite{
    display:flex;
    align-items: center;
    justify-content: center;
    width:500px;
    gap:10px;
}
.first {
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left:160px;
    margin-right:160px;
    text-align: center;
}
.text1{
    padding-top: 5px;
    padding-left: 30px;
    padding-right:30px;
    font-size: 18px;
    text-align: left;
}
.medical {
    color:#00b39b;
    font-family: Work Sans,Arial,sans-serif;
}
.ocolor {
    color: grey;
    font-family: Work Sans,Arial,sans-serif;
}
.second{
    display:flex;
    justify-content: center;
    font-family: Work Sans,Arial,sans-serif;
}
#fmain{
    font-size: 30px;
    margin-bottom:50px;
}
#onTop {
    margin-top:200px;
    margin-bottom: 50px;
}

.third {
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left:160px;
    margin-right:160px;
}
.article1 {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 35px;
    width:230px;
    height:300px;
    border-radius: 5%;
    margin-bottom:150px;
    margin-top:85px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00b39b;
    color:antiquewhite;
}
.articleInside{
    display:list-item;
    font-size: 20px;
    font-family: Work Sans,Arial,sans-serif;
}

.article1:hover {
    background-color:rgb(48, 186, 204);
}
.article2 {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 35px;
    width:230px;
    height:300px;
    border-radius: 5%;
    margin-bottom:150px;
    margin-top:85px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2172db;
    color:antiquewhite;
}
.article2:hover {
    background-color:#338cd4;
}
.article3 {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 37px;
    width:230px;
    height:300px;
    border-radius: 5%;
    margin-bottom:150px;
    margin-top:85px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2c2e2e;
    color:antiquewhite;
}
.article3:hover {
    background-color: #464747;
}
.career:hover{
    color:#00b39b;
}
.department:hover .child{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:left;
    margin-top: 50px;
    padding:top=5px,bottom=5px,left=5px,right=5px;
    background-color:rgb(234, 239, 243);
    font-family:Work Sans,Arial,sans-serif;
    font-size: 16px;
    width:100%;
    height:160px;
}
.child {
    display:none;
}
.department{
    position:relative;
}
